.custom-navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: rgba(243, 248, 255, 0.86);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.custom-navbar::after {
  content: "";
  position: sticky;
  left: 0;
  top: calc(100% - -0px);
  width: 100%;
  height: 18px;
  background: linear-gradient(
    to bottom,
    rgba(243, 248, 255, 0.95) 0%,
    rgba(243, 248, 255, 0.45) 55%,
    rgba(243, 248, 255, 0) 100%
  );
  pointer-events: none;
}

.nav-link {
  color: #02033b;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.navbar-brand img {
  height: 46px;
  width: auto;
}
