<section class="hero-section">
	<img class="ellipse-img" src="{{URL}}/resources/assets/Ellipse 2.svg" alt="">
	<img class="child-img" src="{{URL}}/resources/assets/criança.svg" alt="">

	<div class="hero-wrapper">
		<div class="hero-text">
			<h1>Onde a Tecnologia Encontra com a Educação</h1>
			<p>Sistema de gestão escolar que conecta pais e professores</p>
			<a href="#">Sobre Nosso Serviço</a>
		</div>
	</div>
</section>

<section class="section-cards">

	<div class="cards">
		<div class="card">
			<h3>Contato direto com os professores</h3>
			<p>
				No Zuni é possível os pais dos alunos mandarem mensagens diretamente
				com os professores em tempo real para tirar dúvidas, de forma fácil,
				simples e prática.
			</p>
		</div>

		<div class="card">
			<h3>Sistema próprio pra cantina!</h3>
			<p>
				As escolas que utilizam o nosso sistema possuem um próprio sistema
				para pagamento dos lanches, utilizando créditos digitais adicionados
				pelos pais dentro do próprio aplicativo Zuni.
			</p>
		</div>

		<div class="card">
			<h3>Acompanhamento diário</h3>
			<p>
				Nossos professores fazem registros diariamente sobre o dia a dia de
				seu filho, possibilitando o acompanhamento do desempenho escolar.
			</p>
		</div>
	</div>
	<img src="{{URL}}/resources/assets/Ellipse 2.png" style="
      position:absolute;
      top: 290px;
      left: 0px;
      ">
</section>

<section class="section-app">
	<div class="app-wrapper">
		<div class="app-text">
			<h2>ACOMPANHE SEU FILHO MESMO NO TRABALHO!</h2>

			<p>
				Quer saber se o seu filho comeu tudo, escovou os dentes ou até mesmo
				conseguiu realizar as atividades propostas na aula?
				Instale o Zuni e acompanhe o dia do seu filho!
			</p>

			<div class="app-buttons">
				<a href="#" class="btn-primary">Acesse no seu iPhone</a>
				<a href="#" class="btn-secondary">Acesse no Android</a>
			</div>
		</div>

		<div class="app-image">
			<div class="image-frame">
				<img src="{{URL}}/resources/assets/little-boy-with-notebooks-Photoroom 1.svg" alt="">
			</div>

			<div class="cards">
				<div class="card">
					<h3>Contato direto com os professores</h3>
					<p>
						No Zuni é possível os pais dos alunos mandarem mensagens diretamente
						com os professores em tempo real para tirar dúvidas, de forma fácil,
						simples e prática.
					</p>
				</div>

				<div class="card">
					<h3>Sistema próprio pra cantina!</h3>
					<p>
						As escolas que utilizam o nosso sistema possuem um próprio sistema
						para pagamento dos lanches, utilizando créditos digitais adicionados
						pelos pais dentro do próprio aplicativo Zuni.
					</p>
				</div>

				<div class="card">
					<h3>Acompanhamento diário</h3>
					<p>
						Nossos professores fazem registros diariamente sobre o dia a dia de
						seu filho, possibilitando o acompanhamento do desempenho escolar.
					</p>
				</div>
			</div>
			<img src="{{URL}}/resources/assets/Ellipse 2.png" style="
          position:absolute;
          top: 290px;
          left: 0px;
          
          ">
</section>

<section class="section-app">
	<div class="app-wrapper">
		<div class="app-text">
			<h2>ACOMPANHE SEU FILHO MESMO NO TRABALHO!</h2>

			<p>
				Quer saber se o seu filho comeu tudo, escovou os dentes ou até mesmo
				conseguiu realizar as atividades propostas na aula?
				Instale o Zuni e acompanhe o dia do seu filho!
			</p>

			<div class="app-buttons">
				<a href="#" class="btn-primary">Acesse no seu iPhone</a>
				<a href="#" class="btn-secondary">Acesse no Android</a>
			</div>
		</div>

		<div class="app-image">
			<div class="image-frame">
				<img src="{{URL}}/resources/assets/little-boy-with-notebooks-Photoroom 1.svg" alt="">
			</div>
		</div>
	</div>
</section>


<div class="section">
	<div class="div">
		<div class="div2">
			<div class="h2">
				<div class="pais-de-aluno">Pais de Aluno</div>
			</div>
			<div class="quer-matricular-seus">Quer matricular seus filhos em alguma de nossas escolas que possuem o
				sistema Zuni? Veja as escolas próximas de sua casa.</div>
			<div class="div3">
				<div class="div4">
					<div class="a">
						<div class="ver-mais-opes">Ver mais opções</div>
					</div>
				</div>
			</div>
			<div class="div5">
				<div class="div6">
				</div>
				<div class="a2">
					<div class="opes-de-contato">Opções de contato</div>
				</div>
			</div>
			<div class="deseja-integrar-uma">Deseja integrar uma das nossas escolas que possuém o sistema Zuni integrado
				no sistema de ensino? Mande seu currículo aqui.</div>
			<div class="professor">Professor</div>
		</div>
	</div>
</div>




</body>

</html>