@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import 'tailwindcss';
@import 'home.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans: 'Poppins', 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-Cprimary: #0a155c;
    --color-Cprimary-dark: #02033B;
    --color-Cprimary-light: #e7effA;

    --color-Csecondary: #c13936;
    --color-Csecondary-dark: #962624;

    --color-Ctext: #02033B;
    --color-Ctext-muted: #5B6475;

    --color-Cwhite: #FFFFFF;
}